absl-py
astunparse
certifi
chardet
charset-normalizer
contourpy
cycler
flatbuffers
fonttools
gast
google-pasta
grpcio
h5py
idna
joblib
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
namex
numpy
opencv-python
opt_einsum
optree
packaging
pandas
pillow
protobuf
pygame
Pygments
pyparsing
python-dateutil
pytz
reportlab
requests
rich
scikit-learn
scipy
seaborn
setuptools
six
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
types-reportlab
typing_extensions
tzdata
urllib3
Werkzeug
wheel
wrapt
